<div class="row">
  
  <!-- user info -->
  <div class="col-2">  
    Welcome back, <%= @user.name %>!
  </div>
  
  <div class="col-10">
    <!-- my books -->
    <div class="col-5">
      
    </div>

    <!-- read books -->
    <div class="col-5">
      
    </div>
  </div>


</div>