<%= form_for [@book_history, @review] do |f| %>
<div class="card-body">

  <div class="field form-group">
    <% f.label :comment %>Write your review below: 
    <%= f.text_area :comment, class: "form-control mt-2" %>
  </div>

  <div class="actions">
    <%= f.submit "Publish Review", class: "btn btn-success btn-block" %>
  </div>  

</div>
<% end %>
