<h2 class="center mt-3">Create review for:</h2>
<h3 class="italic center"><%= @book_history.title %></h3>

<div class="center mt-3">
  <%= image_tag @book_history.image_url, class: "dash-img" %>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-2">
  </div>
  
  <div class="col-md-8 col-md-offset-8">
      <%= render 'form' %>
  </div>
  
  <div class="col-md-2 col-md-offset-2"> 
  </div>
</div>